@import url('https://fonts.googleapis.com/css?family=Exo:400,700,800,900i');
img
{
    width:5%;
}
.custom-navbar
{
    background-color: #ffc627;
}
.nav-item a:hover .navbar-text,.active .navbar-text,.nav-item a:hover,.active
{
background-color:#222222;
color: #f44336 ;
   font-family: 'Exo', sans-serif;
   font-weight: 700;
}

.nav-item .nav-link
{
    
   padding-top: 9px;
      padding-bottom: 9px;
}
.navbar-text
{
    color: #222222;
   font-family: 'Exo', sans-serif;
   font-weight: 700;

}
.navbar-brand,.navbar-brand:hover
{
   font-family: 'Exo', sans-serif;
   font-weight: 800;
   color:#222222;
}
.nav-items
{
    margin-top: -15px;
    
    margin-bottom: -15px;
 
    
}
