@import url('https://fonts.googleapis.com/css?family=Roboto Condensed:400,500,600,700,800,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
img
{
    width:5%;
}
.custom-navbar
{
    background-color: #ffc627;
}
.nav-item .navbar-text
{
padding-right: 8px;
padding-top: 1px;
padding-bottom: 1px;
margin-top: 8px;
margin-bottom: 8px;
    border-right: 1px #eeeeee solid;
  
    margin-right: 8px;
}
.nav-item .navbar-text a
{
    background-color: black;
    color: #eeeeee;
     border-radius: 7px;
    border: 2px black solid;
     font-family: 'Roboto Condensed', sans-serif;
   font-weight: 400;

}
.nav-item .navbar-text a:hover
{
    background-color: black;
    color: white;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 400;
   border: 2px #242424 solid;
}
.navbar-text a:hover,.active .navbar-text a
{
    background-color: black;
    color: white;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 400;
   border: 2px #242424 solid;

}
.navbar-brand,.navbar-brand:hover
{
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 800;
   color:#d50000;
}
.active
{
 
}
@media only screen 
and (max-device-width: 1000px)
{
    .nav-item .navbar-text
{
padding-right: 8px;
padding-top: 1px;
padding-bottom: 1px;
margin-top: 8px;
margin-bottom: 8px;
    border-right: 1px black solid;
  
    margin-right: 8px;
}}
