<div class="card">
    <a href="#">
        <!--Card image-->
        <div class="view overlay hm-zoom hm-lime-light">
            <img src="{{paginatedStory.picturelink}}" class="img-fluid" alt="">
         
                <div class="mask flex-center"></div>
          
        </div>

        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <div class="card-title">{{paginatedStory.headline}}</div>
           <!-- <div class="card-tags">{{paginatedStory.tags}}</div>-->
           <!-- <p class="card-text">{{paginatedStory.subheadline}}</p>-->
        </div>
</a>
    </div>