<div class="story">
    <div class="row">
    <div class="col-md-5">
   <img class ="story-image" src="{{paginatedStory.picturelink}}"/> </div>  
    <div class="col-md-6 box-story">  
      <div class="box-story-title">
         {{paginatedStory.headline}}
      </div>
  <div class="box-story-subheadline">
         {{paginatedStory.subheadline}}
      </div>
    
      <div class="box-story-other">
   <div class="story-author"> {{paginatedStory.author}}</div>
   <div class="story-views">  <i class="fas fa-eye"></i>{{paginatedStory.views}}</div>
    </div>
    </div>
</div>
</div>
