@import url('https://fonts.googleapis.com/css?family=Ubuntu:bold');
.row
{
    margin-right: 0px;
}
.header
{
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 10px;
    background: black;
    opacity: 0.7;
    color: #fdd835;
}
pagination-controls /deep/ .ngx-pagination .current {
  background: #fdd835;
color:black;
font-weight:bold;
}