 <div class="row"> 
   <div class="col-md-1">hi</div>
  <div class="col-md-8">
<div class="row" *ngFor="let data of articleData">
  <div class="story">
    <div class="row">
    <div class="col-md-4">
   <img class ="story-image" src="{{data.picturelink}}"/> </div>  
    <div class="col-md-8 box-story">  
      <div class="box-story-title">
         {{data.headline}}
      </div>
  <div class="box-story-subheadline">
         {{data.subheadline}}
      </div>

    </div></div>
</div>
</div>
  </div>
</div>

