<br>
<div class="row">
    <div class="col-lg-2">
</div>
<div class="col-lg-6">
    
    <form class="writeArticleForm"> 
        <h2 style="text-align:center">New Post</h2>
        <br>
    <div class="md-form">
        <input mdbActive type="text" id="headline" class="form-control">
        <label for="headline" class="">Headline</label>
    </div>
 
    <div class="md-form">
        <input mdbActive type="text" id="subheadline" class="form-control">
        <label for="subheadline" class="">Sub-Headline</label>
    </div>

    <div class="md-form">
        <input mdbActive type="text" id="author" class="form-control">
        <label for="author" class="">Author</label>
    </div>

    <div class="md-form">
        <input mdbActive type="text" id="picturelink" class="form-control">
        <label for="picturelink" class="">Picture Link</label>
    </div>
    <div class="md-form">
        <input mdbActive type="text" id="secondarypicturelink" class="form-control">
        <label for="secondarypicturelink" class="">Secondary Picture Link</label>
    </div>
  <textarea style = "font-size:20px" rows= "10" cols = "50" id="mytextarea" name = "content" required></textarea>
    <div class="md-form">
        <input mdbActive type="text" id="tags" class="form-control">
        <label for="tags" class="">Tags</label>
    </div>
    <div class="text-center">
        <button class="btn btn-red waves-light" mdbRippleRadius>Submit</button>
    </div>
</form>
</div>
<div class="col-lg-2">HI
</div>
<div class="col-lg-2">Hello
</div>
</div>