<br>
<div class="row">
    <div class="col-lg-2">
</div>
<div class="col-lg-6">
    
    <form [formGroup] ="articleEditor" class="articleEditor"> 
        <h2 style="text-align:center">New Post</h2>
        <br>
    <div class="md-form">
       
        <input mdbActive type="text" id="headline" name="headline" class="form-control" formControlName="headline" (change)="hello()">
        <label for="headline" class="">Headline</label>
        <div *ngIf="articleEditor.get('headline').invalid && articleEditor.get('headline').touched" >
            <div *ngIf="articleEditor.get('headline').errors.required" class="alert alert-warning">
                  required
            </div>
        </div>
    </div>
 
    <div class="md-form">
        <input mdbActive type="text" id="subheadline" class="form-control" required>
        <label for="subheadline" class="">Sub-Headline</label>
    </div>

    <div class="md-form">
        <input mdbActive type="text" id="author" class="form-control" required>
        <label for="author" class="">Author</label>
    </div>

    <div class="md-form">
        <input mdbActive type="text" id="picturelink" class="form-control" required>
        <label for="picturelink" class="">Picture Link</label>
    </div>
    <div class="md-form">
        <input mdbActive type="text" id="secondarypicturelink" class="form-control" required>
        <label for="secondarypicturelink" class="">Secondary Picture Link</label>
    </div>
  <textarea style = "font-size:20px" rows= "10" cols = "50" id="mytextarea" name = "content" class="form-control" formControlName="content" (change)="hello()"></textarea>
    <div class="md-form">
        <input mdbActive type="text" id="tags" class="form-control" required>
        <label for="tags" class="">Tags</label>
    </div>
    <div class="text-center">
        <button class="btn btn-red waves-light" mdbRippleRadius>Submit</button>
    </div>
</form>
</div>
<div class="col-lg-2">HI
</div>
<div class="col-lg-2">Hello
</div>
</div>