<div class="card">
    <a href="#">
        <!--Card image-->
        <div class="view overlay hm-zoom hm-lime-light">
            <img src="{{trendingStory.picturelink}}" class="img-fluid" alt="">
         
                <div class="mask flex-center"></div>
          
        </div>

        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <div class="card-title">{{trendingStory.headline}}</div>
            <div class="card-tags">{{trendingStory.tags}}</div>
           <!-- <p class="card-text">{{trendingStory.subheadline}}</p>-->
        </div>
</a>
    </div>