<div class="card">

        <!--Card image-->
        <div class="view overlay">
            <img src="{{trendingStory.picturelink}}" class="img-fluid" alt="">
            <a href="#">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <div class="card-title">{{trendingStory.headline}}</div>
            <div class="card-tags">{{trendingStory.tags}}</div>
           <!-- <p class="card-text">{{trendingStory.subheadline}}</p>-->
        </div>

    </div>