<div class="story">
    <a href="#">
    <div class="row">
    <div class="col-md-5">
        <div class="view overlay hm-zoom hm-lime-light">
   <img class ="story-image" src="{{story.picturelink}}"/>
   <div class="mask flex-center"></div>
           </div>
   </div>
  
    <div class="col-md-6 box-story">  
      <div class="box-story-title">
         {{story.headline}}
      </div>
  <div class="box-story-tags">
         {{story.tags}}
      </div>
    
      <div class="box-story-other">
   <div class="story-author"> {{story.author}}</div>
   <div class="story-views">  <i class="fas fa-eye"></i>{{story.views}}</div>
    </div>
    </div>
</div>
</a>
</div>