.box-story-title
{
    font-family: Arial, Helvetica, sans-serif;
     padding: 5px;
     padding-top: 10px;
     overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 21px;     /* fallback */
   max-height: 57px;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical; 
   font-weight: bold;
   color:black;
}
.box-story-tags
{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: black;
    color:#fdd835;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      
}
.box-story-other
{
     font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
     font-size: 15px;
      font-weight: bold;
      color:black;
}
.story-author
{
    float: left;
    color:black;
}
.story-views
{
    float: right;
}
.story
{
    background-color:#f8f8f8;
    width: 100%;
    margin: 10px;

     box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          display: block;
          border-radius: .3rem;
          
}
.story-image
{
    width: 100%;

}
.story-image{
    -webkit-filter: grayscale(95%); /* Safari 6.0 - 9.0 */
    filter: grayscale(95%);
}
a:hover .story-image{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}